<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>photo gallary</title>

    <link rel="stylesheet" href="style.css">

</head>
    <body>
    	<input type="radio" name="photos" id="check1" checked>
        <input type="radio" name="photos" id="check2">
        <input type="radio" name="photos" id="check3">
        <input type="radio" name="photos" id="check4">

        <div class="container"><h1>Photos gallary</h1>
            <div class="top-content">
                <h3>Photo gallary</h3>
                <label for="check1">all photos</label>
                <label for="check2">team photos</label>
                <label for="check3">graphic</label>
                <label for="check4">others</label>
            </div>

            <div class="photo-gallary">
                <div class="pic place">
                    <img src="/photos/Digital marketing.jpg" alt="">
                </div>
                <div class="pic family">
                    <img src="/photos/SEO low res. file.jpg" alt="">
                </div>
                <div class="pic child">
                    <img src="/photos/Seo_marketing.jpg" alt="">
                </div>
                <div class="pic place">
                    <img src="/photos/slide-1.jpg" alt="">
                </div>
                <div class="pic family">
                    <img src="/photos/slide-2.jpg" alt="">
                </div>
                <div class="pic child">
                    <img src="/photos/slide-3.jpg" alt="">
                </div>
                <div class="pic place">
                    <img src="/photos/web-design-and-development.jpg" alt="">
                </div>
                <div class="pic family">
                    <img src="/photos/Digital marketing.jpg" alt="">
                </div>
                <div class="pic child">
                    <img src="/photos/SEO low res. file.jpg" alt="">
                </div>
                <div class="pic place">
                    <img src="/photos/Seo_marketing.jpg" alt="">
                </div>
                <div class="pic family">
                    <img src="/photos/slide-1.jpg" alt="">
                </div>
                <div class="pic child">
                    <img src="/photos/slide-2.jpg" alt="">
                </div>
            </div>
        </div >
    </body>
</html>